.nav-title {
    font-size: 20px;
    font-weight: lighter;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.nav {
  overflow: hidden;
  background-color: #d14b56;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #d14b56;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;  

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #8a2b33;
}

.nav-right {
  float: right;
}